[submodule "microservices/ems-algashop-ordering"]
	path = microservices/ems-algashop-ordering
	url = https://github.com/xavierdev1977/ems-algashop-ordering.git
[submodule "microservices/ems-algashop-docs"]
	path = microservices/ems-algashop-docs
	url = https://github.com/xavierdev1977/ems-algashop-docs.git
[submodule "docs/ems-algashop-docs"]
	path = docs/ems-algashop-docs
	url = https://github.com/xavierdev1977/ems-algashop-docs.git
